/**
 * @name Contrast+
 * @author Hyun
 * @authorId 1010097228670566480
 * @description A dark contrast theme.
 * @version 1.1
 * @donate https://hyun.aratec.io
 * @invite none
 */

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

:root,
.theme-dark {
    --text-normal: #dcddde;
    --text-muted: #4a4a52;
    --text-link: #36BCBA;
    --text-positive: #50dc7d;
    --text-warning: #bc3638;
    --text-danger: #bc3638; /* notification colour */
    --text-brand: #6e6af6;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff; 
    --interactive-muted: #4f545c;
    --background-primary: #050101;
    --background-secondary: #010505;
    --background-secondary-alt: #010103;
    --background-tertiary: #0f0f0f;
    --background-accent: #4f545c;
    --background-floating: #010103;
    --modal-background: #010505;
    --channeltextarea-background: #010103;
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-warning-foreground: #36BCBA;
    --info-danger-text: #fff;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --background-mentioned: rgba(54, 188, 186, 0.1);
    --background-mentioned-hover: rgba(54, 188, 186, 0.1);
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --mention-background: rgba(54, 188, 186, 0.1);
    --mention-foreground: #36BCBA;
    --scrollbar-auto-thumb: #36BCBA;
    --brand-experiment: #4a4a52;
    --brand-experiment-hover: #6f6af64d;
    --brand-experiment-560: #6e6af6;
    --channels-default: #4a4a52;
    --selected-indicator: #97ffa5;
    --hover-indicator: #ffffff;
    --header-primary: #FFF;
    --font: "Inter";
    --code-font: "Source Code Pro";
    --boost-bar: none;
}

.unread__48cf4, .unreadImportant_c775b3 {
  color: var(--text-positive);
}

/* Sidebar */
.wrapper_a7e7a8 {
  background-color: #000;
}

/* Message reply box */
.scrollableContainer__33e06 {
  border: 1px solid #303737;
  border-radius: 7px;
  padding: 10px 0 10px 0;
}

.interactiveSelected_ec846b {
  background-color: var(--background-tertiary);
  border-left: 4px var(--text-link) solid;
}

.interactive__776ee:hover {
  background-color: var(--background-tertiary);
}

.embedFull__8dc21 {
  border: 1px solid var(--text-link);
  border-radius: 10px;
  padding-left: 3px;
  margin: 6px 0 6px 0;
  background: rgba(88, 88, 88, 0.1);
}

.wrapper_f46140 {
  padding: 6px;
}

.wrapper_f46140:hover {
  color: #fff;
  background: var(--mention-foreground);
}

/* .item_f9d377 {
  background-color: var(--brand-experiment);
} */

.ownerIcon__827bd {
  color: var(--text-link);
  margin-left: 4px;
  border: 1px solid var(--text-link);
  border-radius: 12px;
  padding: 3px;
  margin-bottom: 4px;
}

.icon__131d1 {
  flex: 0 0 auto;
  position: relative;
  top: 1px;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.unread__48cf4 {
  background-color: var(--text-link);
  box-shadow: 0 0 12px 4px var(--text-link);
  border-radius: 50%;
  left: 6px;
  top: 58%;
  width: 5px;
  height: 5px;
}

.unreadRelevant__44f9e {
  background-color: var(--interactive-active);
}

.link__95dc0, .link__95dc0:hover {
  display: inline-block;
  padding: 6px 8px;
}

.iconContainer__3f9b0 {
  position: relative;
  margin-left: 15px;
  margin-right: 6px;
}

#app-mount .numberBadge__50328 {
  background-color: var(--text-danger) !important;
  color: white;
}

.container__590e2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 1 1 auto;
  min-height: 0;
  position: relative;
}

.newMessagesBar__8b6d7 {
  height: 32px;
  top: 0;
  border-radius: 0 0 8px 8px;
  background-color: var(--info-warning-foreground);
  box-shadow: var(--elevation-low);
}

/* Notification New Message */
.newMessagesBar__8b6d7 {
  box-shadow: 0 0 20px 1px var(--info-warning-foreground);
}

/* Markup Code Block */
.markup_a7e664 code {
  font-size: .875rem;
  line-height: 1.125rem;
  text-indent: 0;
  text-indent: 0;
  white-space: pre-wrap;
  scrollbar-width: thin;
  scrollbar-color: var(--background-tertiary)var(--background-secondary);
  background: rgba(88, 88, 88, 0.1);
  border: 1px solid var(--brand-experiment);
  padding: 10px;
}

/* Nav Sidebar */
.wrapper_a7e7a8 {
  overflow: hidden;
  display: flex;
  width: 72px;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  background-color: var(--background-tertiary);
}